html, body {
    height: 100%;
    margin:0;
    font-family: Helvetica, sans-serif;
    padding:0;
}
.header {
    background-image: url(pictures/IMG_6399\ \(kopia\).jpg);
}

.gallery {
    background-image: url(pictures/skomakeriet-samaneh-ext.png);
}

.parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

h1 {
    color:black; 
    font-size: 5em;
    margin: auto;
    width: 100%;
    white-space: nowrap;
    overflow: auto;
    opacity:0;

  }

.title-white {
    color:white;
    font-size: 2.5em;
    width: 100%;
    white-space: nowrap;
    opacity:0;
    position: relative;
    top: 20%;
    margin: 0 0 0 10%;
}

.title {
    position: relative;
    top: 20%;
    margin: 0 0 0 10%;
}

.animation-visible {
    opacity:1;
    animation: type 3s steps(100, end);
}


  @keyframes type{ 
    from { width: 0; } 
  } 



.content-box {
    font-family: Helvetica, sans-serif;
    font-size: 2em;
    height: 600px;
    background-color:black;
    color: white;
}

.video {
    position: relative;
    width: 40%;
    margin: auto; 
    top: 10%; 
    left: 50%;
}
p {

    font-size: 0.8em;
    position: relative;
    margin: auto;
/*     padding: 1em; */
}

a {
    color: black;
    text-decoration: none;
  }

.hi {
    top: 20%;
    left: 10%;
}

.do {
    top: 20%;
    left: 10%;
}

.study {
    top: 25%;
    left: 10%;
}

.running {
    font-size: 1.5em;
    top: 25%;
    left: 10%;
}


.footer {
    margin: auto;
    padding: 10px;
    text-align: center; 

  }


  
  .email-link {

    width: 1.7em;
    height: 1.7em;
    margin-right: 0.5em;
  }

.fb-link, .ig-link, .ln-link {
    width: 1.5em;
    margin-right: 0.5em;
  }


  .thumbnail:hover {
    border-radius: 50%;
  }


/* @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  } */